.App {
  text-align: center;
  /* CSS HEX */
--jet: #363537ff;
--bro:#9c354b;
--red-crayola: #ef2d56ff;
--mango-tango: #ed7d3aff;
--pistachio: #8cd867ff;
--emerald: #2fbf71ff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

header{
  min-height: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-bottom: 2vh;
}

.cards{
  min-height: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.ratio{
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
;}

.ant-card-body{
  border: 2px solid var(--jet);
  padding: 0px !important;

}
.ant-card-head{
  border: 2px solid var(--jet);
  background-color: var(--bro);
  color: wheat;
  font-weight: bold;
  font-size:large}
.ant-card-extra{
  color: wheat;
}
.thumbUp{
  width: 15%;
  margin:1%;
  position: relative;
  background-color: rgb(184, 223, 165);
  color:white;
  font-weight: bold;
  border: var(--emerald) solid 1px; 
}

.percent{
  width: 20%;
  color: var(--pistachio);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumbDown{
  width: 15%;
  margin:1%;
  position: relative;
  background-color:rgb(226, 167, 180);
  color:white;
  font-weight: bold;
  border: var(--red-crayola) solid 1px;
}
.btnDelete{
  position: absolute;
  left: 5px;
  top: 5px;
  color: white;
}
.btnDelete:hover{
  color:white !important;
}

.thumbUp:hover{
  background-color: var(--pistachio);
}
.thumbDown:hover{
  background-color: var(--red-crayola)
}

.ant-progress{
  width: 45%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.cardMovie{
  margin: 2vh;
}
.title{
  width:100%;
  background-color:var(--bro);
  color:white;
  height:5vh
}

footer{
  margin:10px
}
.filterBar{
  width:70%;
  display: flex;
  justify-content:center;
  border-bottom: 2px solid var(--bro);
}
.categoriesBar{
  display: flex;
  align-items: center;
  height:5vh;
}